@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
    .menu {
        &_item {
            padding-right:20px;
        }
        &_link {
            font-size:13px;
        }
    }
    .promo {
        .promo_header {
            font-size: 50px;
        }
    }
    .second {
        
         &_text {
            margin-left:  30px;
        
        }
    }
    .uber {
        max-width: 992px;
    }
}

@media (max-width:991px) {
    .container {
        max-width: 991px;
    }
    .menu {
        &_link {
            font-size: 10px;
        }

        &_item {
            padding-right: 8px;
        }

        .hamburger {
            display:block;
            position: absolute;
            right: 10px;
            top: 50%;
            transform :translateY(-50%);
            width: 20px;
            .span {
                display: block;
                height:2px;
                width: 100%;
    
            }
        }
        
    }
    .subheader {
        &_official {
            font-size: 11px;
        }
        &_called {
            font-size:18px;
        }

        &_logo {
            width:100%;
        }
    }
}

@media (max-width: 768px) {

    menu {
    .hamburger {
		display:block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform :translateY(-50%);
		width: 20px;
		.span {
			display: block;
			height:2px;
			width: 100%;

		}
	}
}
}